* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: grid;
  border: 1px solid;
  max-width: 70rem;
  margin: 1rem auto;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 3rem auto;
}

.wrapper > * {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper header {
  grid-column: 1/8;
  background-color: salmon;
}
.wrapper aside {
  background-color: lightgoldenrodyellow;
  /* grid-column: 1/2; */
  grid-row: 2/7;
}
.wrapper main {
  grid-column: 2/8;
  grid-row: 2/7;
}
